@charset "utf-8";

$wrapper-width: 17.6rem;
$font-default: "Noto Serif Display", sans-serif;
$font-script: "MTD Starcity Script", sans-serif;
$font-vn: "Be VietNam Pro", sans-serif;
$fontsize-default: 0.16rem;
$fontweight-default: 400;
$lineheight-default: calc(24 / 16);
$color-default: #000;
